# Terraform
.terraform/
*.tfstate
*.tfstate.*
tfplan
*.tfplan
*.tfvars.backup

# Backup files, any naming convention
*-bak
*.bak
*backup*

# Node.js
node_modules/
.env
.env.*

# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo

# OS + Editor
.DS_Store
*.swp

apps/hugo/*.tar.gz
apps/hugo/service-bak/


.git
node_modules
.env
dist/.hugo_build.lock
.terraform.lock.hcl
