# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.tfplan

# Node.js
node_modules/
.env

# OS + Editor
.DS_Store
*.swp


# Python enviroment 
.venv/



apps/hugo/*.tar.gz
apps/hugo/service-bak/
