[Unit]
Description=Platform Rehydrate
After=network.target

[Service]
ExecStart=/usr/local/bin/platform-rehydrate.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target