<div class="card">
  <h2>🎬 Culture Module</h2>
  <p>Media + behavioral layer of the system</p>
</div>

<div class="side-note highlight-section">
  <p><strong>Onwuachi’s Current Hits 🎬🔥</strong></p>
  <ul>
    <li>Naruto</li>
    <li>Bleach</li>
    <li>One Piece</li>
    <li>Demon Slayer</li>
    <li>Detective Conan_Case Closed</li>
    <li>Samurai Shamploo</li>
    <li>Attack on Titan</li>
    <li>Cowboy Bebop</li>
    <li>Trigun</li>
  </ul>
</div>

<div class="side-note">
  <p><strong>As Platform Implementation Continues 🧠...</strong></p>

  <ul>
    {{ range site.Data.culture.links.anime_links }}
      <li>
        <a href="{{ .url }}" target="_blank">
          {{ .name }}
        </a>
      </li>
    {{ end }}
  </ul>
</div>

<div class="grid-2">

  {{ range site.Data.culture.links.anime_links }}
    <div class="card">
      <h3>{{ .name }}</h3>

      <p>
        External reference link
      </p>

      <a href="{{ .url }}" target="_blank">
        Open →
      </a>
    </div>
  {{ end }}

</div>

